$dark: #072605;
$medium: lighten($dark, 20%);
$highlight: #0dae0b;
$light: #f2f0df;
$lighter: #fffbf8;

$context: rgb(240, 77, 91);
$entity: rgb(138, 179, 254);
$primary: rgb(255, 205, 40);
$secondary: rgb(240, 77, 91);

$contextLight: rgb(242, 198, 190);
$entityLight: rgb(216, 225, 230);
$primaryLight: rgb(245, 232, 176);
$secondaryLight: rgb(242, 198, 190);

$lightenAmt: 10%;
$contextLighter: lighten($contextLight, $lightenAmt);
$entityLighter: lighten($entityLight, $lightenAmt);
$primaryLighter: lighten($primaryLight, $lightenAmt);
$secondaryLighter: lighten($secondaryLight, $lightenAmt);

$darkenAmt: 40%;
$contextDark: darken($context, $darkenAmt);
$entityDark: darken($entity, $darkenAmt);
$primaryDark: darken($primary, $darkenAmt);
$secondaryDark: darken($secondary, $darkenAmt);


@mixin colorHighlight($type, $color, $colorLight) {
	&[data-type="#{$type}"] {
		border-color: $color;
		&, .et-last::after {
			background-color: lighten($colorLight, $lightenAmt);
			border-color: $color;
			color: darken($color, $darkenAmt);
		}
		&:hover, &.selected {
			&, .et-last::after {
				background-color: $colorLight;
			}
		}
	}
}

@mixin colorAnnot($type, $color, $colorLight) {
	&[data-type="#{$type}"] {
		color: $color;
		.et-annot-inner {
			border-color: $color;
			background-color: lighten($colorLight, $lightenAmt);
		}
		.et-annot-inner::before {
			border-color: $color;
			color: darken($color, $darkenAmt);
		}
		* {
			color: darken($color, $darkenAmt);
		}
		.et-annot-toolbar {
			border-color: $color;
			background-color: $colorLight;
		}
		.et-annot-index,
		.et-annot-toggle,
		.et-annot-close {
			background-color: lighten($colorLight, $lightenAmt);
		}
	}
}

.exploratory-text-block {
	position: relative;
	border-top: 1px solid $dark;
	background: $light;
	svg {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		path {
			stroke: $dark;
			&:not(.preview):not(.selected) {
				opacity: 0;
			}
		}
	}
	p {
		max-width: 750px;
    margin: 0 0 30px 0;
		&:last-of-type {
			margin: 0;
		}
	}
}
.et-side {
	width: 100%;
	max-width: 20em;
	position: relative;
}
.et-side-inner {
	width: 100%;
	padding-bottom: 15px;
	padding-right: 15px;
	z-index: 4;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
	  width: 2px;
	  &::-webkit-scrollbar-track,
	  &::-webkit-scrollbar-thumb {
			background: transparent;
			transition: background 100ms ease-in-out;
	  }
	}
	&:hover {
		&::-webkit-scrollbar-track {
		  background: rgba(0,0,0,.15);
		}
		&::-webkit-scrollbar-thumb {
		  background: rgba(0,0,0,.25);
		}
		&::-webkit-scrollbar-thumb:hover {
		  background: rgba(0,0,0,.5);
		}
	}
}
.et-side-empty-note {
	opacity: .5;
	margin-top: 30px;
	.et-side:not(.et-side-empty) & {
		display: none;
	}
}
@media screen and (max-width: 576px) {
	.et-side, .et-side-inner {
		height: 0 !important;
		padding: 0 !important;
		overflow: hidden;
	}
}
.et-annot {
	width: 100%;
	padding-top: 15px;
	font-size: 1rem;
	line-height: 1.3em;
	@include colorAnnot("context", $secondary, $secondaryLight);
	@include colorAnnot("entity", $entity, $entityLight);
	@include colorAnnot("primary", $primary, $primaryLight);
	@include colorAnnot("secondary", $secondary, $secondaryLight);
	&:not(.selected) {
		display: none;
	}
	&.et-less {
		.et-annot-inner {
			max-height: 5.5rem;
			overflow: hidden;
		}
		.et-annot-toggle div {
			&:first-child {
				display: block;
			}
			&:last-child {
				display: none;
			}
		}
	}
}
.et-annot-toolbar {
	padding: 5px;
	border-bottom: 1px solid;
	display: flex;
	font-size: .7rem;
	.et-gap {
		flex: 1;
	}
	button {
		margin: 0 0 0 5px;
		padding: 0;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		div {

		}
		&.et-annot-toggle {
			div:first-child {
				display: none;
			}
		}
	}
}
.et-annot-inner {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	overflow: hidden;
}
.et-annot-row {
	padding: 5px 10px;
}
.et-annot-body {
	overflow: hidden;
}
.et-annot-ref {
	margin-top: 15px;
	font-size: .75rem;
	text-decoration: underline;
	a:not(:hover) {
		opacity: .75;
	}
}


.et-inner {
	max-width: 45em;
	padding-top: 1rem;
	position: relative;
	z-index: 2;
	line-height: 1.8em;
	a.et-highlight {
		padding: 3px 6px;
		border: 1px solid;
		position: relative;
		border-radius: 5px;
		&:hover, &.selected, &.preview {
			cursor: pointer;
			border-color: $dark;
		}
		.et-first {
			padding-left: 6px;
			margin-left: -6px;
		}
		.et-last {
			position: relative;
			white-space: pre;
			&::after {
				position: absolute;
				right: -1.25em;
				bottom: 1em;
			}
		}
		// &:not(:hover) .et-last::after {
		// 	opacity: 0;
		// }
	}
	.cke_editable {
		line-height: 1.8em;
		a:hover {
			cursor: unset;
		}
	}
}


.et-annot-index,
.et-annot-toolbar button,
.et-inner a .et-last::after {
	width: 1rem;
	height: 1rem;
	display: block;
	font-size: .75rem;
	line-height: 1.2em;
	text-align: center;
	border: 1px solid;
	border-radius: 50%;
}

.et-inner a .et-last::after {
	content: attr(data-index-label);
}

.et-annot.hidden {
	display: none !important;
}


.et-inner a.et-highlight {
	@include colorHighlight("context", $secondary, $secondaryLight);
	@include colorHighlight("entity", $entity, $entityLight);
	@include colorHighlight("primary", $primary, $primaryLight);
	@include colorHighlight("secondary", $secondary, $secondaryLight);
}
